{% load i18n %}
{% load lfs_tags %}

{% if categories %}    
        <div class="dropdown">            
                {% for category in categories %}                    
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">                            
                         
                            {{ category.category.name }}
                         
                         <span class="caret"></span>
                        </button>
                        {% category_children category.children %}                    
                {% endfor %}
            
        </div>
    
{% endif %}



                           
                            