{% load i18n lfs_tags %}
{% load thumbnail %}

          <div class="col-xl-12 col-xs-12 pal">
            <h3 class="col-xl-8 col-xs-8 capital ptl">New Arrivals</h3>
                <div class="col-xl-4 col-xs-4"><a class="btn btn-default pull-right">View All New Arrivals</a></div>
           </div>


           

{% if products %}
   
            {% if not slideshow %}
                {% for product in products %}
           <div class="col-xl-3 col-md-3 col-sm-4 col-xs-6 pal">
              <a class="wrap-product" href="{{product.get_absolute_url}}">
                        <div class="paxl"><div class="pa2xl"></div></div>
                         {% if product.get_image %}
                        <img class="img-responsive" src="{% thumbnail product.get_image.image 550x648 crop='0,0' %}" />
                        {% endif %}
                        <p class="product-name pal plxl prxl mtxl">{{ product.get_name }}</p>
                        <!-- <p class="price-before-sale small pal">USD 30.00</p> --><!-- if the item is none saled, just take out this tag -->
                        {% if product.for_sale %}
                        <p class="price-before-sale small pal">USD {{ product.price }} / {{ product.price_unit }}</p>
                        <p class="price pal pb2xl">USD {{ product.for_sale_price }} / {{ product.price_unit }}</p>
                        {% else %}
                        <p class="price pal pb2xl">USD {{ product.price }} / {{ product.price_unit }}</p>
                        {% endif %}
                </a>
            </div>
               {% endfor %}       









            {% else %}
            <div class="products-wrapper slideshow-latest">
                {% for product in products %}
                    <div id="tab-{{ forloop.counter }}"class="portlet-item">
                        <div class="product-data">
                            <div class="product-image">
                                <a href="{{ product.get_absolute_url }}">
                                    {% if product.get_image %}
                                        <img alt="{{ product.get_name }}"
                                            src="{{ product.get_image.image.url_100x100 }}" />
                                    {% endif %}
                                </a>
                            </div>
                            <div>
                                <a href="{{ product.get_absolute_url }}"
                                   class="product-title">{{ product.get_name }}</a>
                            </div>

                            <div class="product-price">
                                {{ product.price|currency:request}}*
                                <div class="price-disclaimer">
                                    {% if product.price_includes_tax %}
                                        {% trans '*inc. VAT' %}
                                    {% else  %}
                                        {% trans '*exc. VAT' %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}{# slideshow products #}
                {# tabs #}
                <ul style="display:none">
                {% for product in products %}
                    <li><a href="#tab-{{ forloop.counter }}">{{ forloop.counter }}</a></li>
                {% endfor %}
                </ul>
            </div>
            <script type="text/javascript">
                $('.slideshow-latest').tabs({ fx: { opacity: 'toggle', duration: 'fast' } }).tabs('rotate', 3000);
            </script>
            {% endif %}{# slideshow check #}
        
{% endif %}
