{% load i18n %}
{% load thumbnail %}


{% if topseller %}
    <div class="topseller-portlet portlet">  

          <div class="col-xl-12 col-xs-12 pal">
            <h3 class="col-xl-8 col-xs-8 capital ptl">MO-MO Best</h3>
                <div class="col-xl-4 col-xs-4"><a class="btn btn-default pull-right" href="{% url lfs_pages %}">{% trans 'View All Best' %}</a></div>
           </div>

                {% for product in topseller %}
           <div class="col-xl-3 col-md-3 col-sm-4 col-xs-6 pal">
              <a class="wrap-product" href="{{product.get_absolute_url}}">
                        <div class="paxl"><div class="pa2xl"></div></div>
                         {% if product.get_image %}
                        <img class="img-responsive" src="{% thumbnail product.get_image.image 550x648 crop='0,0' %}" />
                        {% endif %}
                        <p class="product-name pal plxl prxl mtxl">{{ product.get_name }}</p>
                        <!-- <p class="price-before-sale small pal">USD 30.00</p> --><!-- if the item is none saled, just take out this tag -->
                        {% if product.for_sale %}
                        <p class="price-before-sale small pal">USD {{ product.price }} / {{ product.price_unit }}</p>
                        <p class="price pal pb2xl">USD {{ product.for_sale_price }} / {{ product.price_unit }}</p>
                        {% else %}
                        <p class="price pal pb2xl">USD {{ product.price }} / {{ product.price_unit }}</p>
                        {% endif %}
                </a>
            </div>
               {% endfor %}       

        
    </div>

{% endif %}
