{% load i18n %}
{% load thumbnail %}


{% if topseller %}
    <div class="row foo">

          

                {% for product in topseller %}
                
           <div class="eq-col-xl-3 eq-col-md-3 eq-col-sm-4 eq-col-xs-6 pal">
              <a class="wrap-product" href="{{product.get_absolute_url}}">
                        <div class="paxl"><div class="pa2xl"></div></div>
                         {% if product.get_image %}
                        <img class="img-responsive" src="{% thumbnail product.get_image.image 550x648 crop='0,0' %}" />
                        {% endif %}
                        <p class="product-name pal plxl prxl mtxl">{{ product.get_name }}</p>
                        <!-- <p class="price-before-sale small pal">USD 30.00</p> --><!-- if the item is none saled, just take out this tag -->
                        {% if product.for_sale %}
                        <p class="price-before-sale small pal">USD {{ product.price }} / {{ product.price_unit }}</p>
                        <p class="price pal pb2xl">USD {{ product.for_sale_price }} / {{ product.price_unit }}</p>
                        {% else %}
                        <p class="price pal pb2xl">USD {{ product.price }} / {{ product.price_unit }}</p>
                        {% endif %}
                </a>
            </div>
               {% endfor %}       

        
    </div>

{% endif %}
