{% load i18n %}
{% load lfs_tags %}
{% load reviews_tags %}
{% load thumbnail %}

<form id="product-form"
      action="{% url lfs.catalog.views.product_form_dispatcher %}"
      data="{% url lfs_select_variant_from_properties %}"
      method="post">
    {% csrf_token %}

    <div class="row text-center">
               <h2 class="pbxl">{{ product.get_name }}</h3>
    </div>
<div class="row ptxl">
    {# Images #}
               <div class="col-xl-6 col-sm-6 col-xs-12">
                   <div id="productPicCarousel" class="carousel slide" data-ride="carousel">                 
                       <div class="col-xl-2 col-xs-2 pal">                       
                        {% for image in product.get_images %}
                           <div class="img-thumbnail pal"><a href="#"  data-target="#productPicCarousel" data-slide-to="{{ forloop.counter0 }}"><img class="img-responsive" src="{% thumbnail image.image 550x648 crop='0,0' %}" /></a></div>                                               
                           {% endfor %}                           
                       </div>

                       <div class="col-xl-10 col-xs-10 pal">
                           <div class="carousel-inner">
                            {% for image in product.get_images %}
                               <div {% if forloop.first %}class="item active"{% else %}class="item"{% endif %}><a href="#"><img class="img-responsive" src="{% thumbnail image.image 550x648 crop='0,0' %}" /></a></div>                           
                            {% endfor %}
                           </div>
                       </div>                      
                   </div>
               </div>


 <div class="col-xl-6 col-sm-6 col-xs-12 pal">
    <div class="row pa2xl order-select-pannel">
    {# Displayed Properties #}
    <div class="product-properties">
        {% for property in product.get_displayed_properties %}
            <div>
                {{ property.title }}: {{ property.value }} {{ property.unit|safe }}
            </div>
        {% endfor %}
    </div>

    

    

    {# Prices #}
    <div class="prices">
        {% if for_sale %}
            <div>
                <p class="price-before-sale">
                        {{ product|get_standard_price_gross:request|currency:request }}
                        {% if price_unit %}/ {{ price_unit }}{% endif %}
                </p>  
                <h1 class="ptl">
                        
                        {{ product|get_for_sale_price_gross:request|currency:request }}
                        {% if price_unit %}/ {{ price_unit }}{% endif %}
                </h1>                   
            </div>
            
            
        {% else %}
            <div class="standard-price"
                  nowrap="nowrap">
                  <h1 class="ptl">{{ product|get_price_gross:request|currency:request }} {% if price_unit %}/ {{ price_unit }}{% endif %}</h1>
            </div>
                     
        {% endif %}
    </div>

    {% average_for_instance product %}

    {% shipping product %}

    <p class="ptxl">{{ product.get_short_description|safe }}</p>

    

    {# Configurable Properties #}
    {% if product.is_configurable_product %}
        <div class="pt2xl option-select">
            
            {% for property in properties %}
            
                
                    {% if property.obj.is_select_field %}
                        <div class="ptxl">     
                        
                            <select class="form-control" name="property-{{ property.id }}">
                                {% if not property.obj.required %}
                                    <option>Choose {{ property.title }}</option>
                                {% endif %}
                                {% for option in property.options %}
                                    <option value="{{ option.id }}"
                                        {% if option.selected %}selected="selected"{% endif %}>
                                        {{ option.name }}

                                        {% if property.display_price %}
                                         / {{ option.price|currency:request}}
                                        {% endif %}
                                    </option>
                                {% endfor %}
                            </select>                        
                    </div>
                    {% else %}
                    <div class="ptxl">
                    <table> 
                        <tr>                        
                        <td>
                            {% if property.obj.is_text_field %}
                                <input class="form-control" type="input" size="15" maxlength="100" name="property-{{ property.id }}" value="{{ property.value }}" placeholder="{{ property.title }}"/>
                            {% else %}
                                <input class="form-control" type="input" size="6" maxlength="9" name="property-{{ property.id }}" value="{{ property.value }}" placeholder="{{ property.title }}" />
                            {% endif %}
                        </td>
                        <td>
                            {{ property.unit }}
                        </td>
                    </tr>
                </table>
            </div>
                    {% endif %}               
            {% endfor %}        
    </div>
    {% endif %}

    <div class="pt2xl">
    {% if product.is_deliverable %}
        
                {% if product.get_active_packing_unit %}
                    <div class="col-xl-4 col-sm-4" id="packing-url" data="{% url lfs_calculate_packing product.id %}">
                        <div class="form-group">
                            
                          <div class="col-sm-6">
                            <input class="form-control"
                                   name="quantity"
                                   size="3"
                                   type="text"
                                   value="{{ quantity }}" placeholder="1"/> 
                           </div>        
                            <label class="col-sm-5 control-label ptl mts text-center">{{ unit }}</label>
                        </div>
                    </div>
                    
                {% else %}
                     <div class="col-xl-4 col-sm-4" id="packing-url" data="{% url lfs_calculate_packing product.id %}">
                        <div class="form-group">
                            <label class="col-sm-5 control-label ptl mts text-center">{% if unit %}{{ unit }}{% else %}{% trans "Quantity" %}{% endif %}</label>
                          <div class="col-sm-6">
                            <input class="form-control"
                                   name="quantity"
                                   size="3"
                                   type="text"
                                   value="{{ quantity }}" placeholder="1"/> 
                           </div>       
                            
                        </div>
                      </div>

                {% endif %}
                
                <div class="col-xl-4 col-sm-8">
                        <button class="btn btn-info btn-lg" type="submit" name="add-to-cart">{% trans 'Add to cart' %}</button>
                </div>                  
                
        
        <div class="packing-result">
            {{ packing_result }}
        </div>
    {% else %}
        <button class="emphasized"
                onclick="window.location='{% url lfs_contact_form %}'; return false"
                name="">{% trans 'Send request' %}</button>
    {% endif %}
</div>

    

    {# Variants #}
    {% if product.is_variant %}
        <div class="variants">
            <h2 class="section">{% trans 'Variants' %}</h2>
            {# List #}
            {% if display_variants_list %}
                <table class="product-variants lfs-default"
                       data="{% url lfs_select_variant %}">
                    <tr>
                        <th></th>
                        <th>
                            {% trans 'Name' %}
                        </th>
                        {% for property in properties %}
                            <th>
                                {{ property.title }}
                            </th>
                        {% endfor %}
                        <th class="number">
                            {% trans 'Price' %}
                        </th>
                    </tr>
                    {% for product_variant in variants %}
                        <tr>
                            <td class="select">
                                <input type="radio"
                                       class="variant"
                                       name="variant_id"
                                       value="{{ product_variant.id }}"
                                       {% ifequal product_variant.id product.id %}checked="checked"{% endifequal %}  />
                            </td>
                            <td>
                                {{ product_variant.get_name }}
                            </td>
                            {% for property in product_variant.get_variant_properties %}
                                <td>
                                    {{ property.value }}
                                </td>
                            {% endfor %}
                            <td class="number"
                            nowrap="nowrap">
                                {% if product_variant.get_for_sale %}
                                    <span class="for-sale-standard-price">
                                        {{ product_variant|get_standard_price:request|currency:request}}
                                    </span>
                                    {{ product_variant|get_for_sale_price:request|currency:request}}
                                {% else %}
                                    {{ product_variant|get_price:request|currency:request}}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div>
                    {% for property in properties %}
                        <div>
                            <span class="property-label">
                                {{ property.title }}:
                            </span>
                            <select class="property"
                                    name="property_{{ property.id }}">
                                {% for option in property.options %}
                                    <option value="{{ option.id }}"
                                            {% if option.selected %}selected="selected"{% endif %}>
                                        {{ option.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}
   </div>
</div>

</div>


  <p class="product-description">
        {{ product.get_description|safe}}
    </p>

    <br />
    <br />

    {# Attachments #}
    {% if attachments %}
        <div class="attachments">
            <h3 class="text-center">{% trans 'Attachments' %}</h2>
            <table class="table text-center">
                <thead>
                        <tr>
                            <td></td>
                            <td>File Name</td>
                            <td>Description</td>                            
                        </tr>
                </thead>
            
                <tbody>
                    {% for attachment in attachments %}
                        <tr>
                            <td>Attachment {{ forloop.counter }}</td>
                            <td><a title="{{ attachment.title}}" href="{{ attachment.get_url }}">{{ attachment.title }}</a></td>
                            <td>{% if attachment.description %}{{ attachment.description }}{% endif %}</td>
                        </tr>   
                    {% endfor %}                    
                </tbody>            
        </table>
    </div>
    {% endif %}

    {# Accessories #}
    {% if product_accessories %}
        <div class="accessories">
            <h3 class="text-center">{% trans 'Accessories' %}</h3>
            <table class="table text-center">                
                <thead>
                   <tr>
                    <td></td>
                    <td>{% trans 'Name' %}</td>
                    <td class="number">{% trans 'Quantity' %}</td>
                    <td class="number">{% trans 'Price' %}</td>
                    <td class="number last">{% trans 'Total' %}</td>                          
                   </tr>
                </thead>
                <tbody>
                {% for product_accessory in product_accessories %}
                    <tr>
                        <td class="checkbox-left">
                            <input type="checkbox"
                                   name="accessory-{{ product_accessory.accessory.id }}"/>
                        </td>
                        <td>
                            <a href="{{ product_accessory.accessory.get_absolute_url }}">        
                                <img src="{{product_accessory.accessory.get_image.image.url_60x60}}"></img>
                           
                            </a>
                        </td>
                        <td class="number">
                            <input type="hidden"
                                   name="quantity-{{ product_accessory.accessory.id }}"
                                   value="{{ product_accessory.quantity }}" />
                            {{ product_accessory.quantity|quantity }}
                        </td>
                        <td class="number"
                            nowrap="nowrap">
                            {{ product_accessory.accessory|get_price:request|currency:request}}
                        </td>
                        <td class="number"
                             nowrap="nowrap">
                            {{ product_accessory|get_price:request|currency:request}}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    {% endif %}

    <input type="hidden"
           name="product_id"
           value="{{ product.id }}" />

</form>
