
<div id="myCarousel" class="carousel slide" data-ride="carousel">

  {% if navigation %} 
  <ol class="carousel-indicators">
    {% for entry in carousel.carousel_entries.all %}
         <li data-target="#myCarousel" data-slide-to="{{ forloop.counter|add:"-1" }}" {% if forloop.counter == 1 %}class="active"{% endif %}></li>
    {% endfor %}
    {% endif %}
  </ol>
  

 <div class="carousel-inner">
    {% for entry in carousel.carousel_entries.all  %}
                       <div class="item{% if forloop.counter == 1 %} active{% endif %}">
                            <a class="wrap-banner" href="">
                                <div class="paxl"><div class="pa2xl"></div></div>
                                <img class="img-responsive hidden-xs" src="{{ entry.cropped_img_url }}" /> <!-- hero banner for desktop version -->
                                <img class="img-responsive visible-xs hidden-ie8-fix" src="{{ entry.cropped_img_url }}" /> <!-- hero banner for mobile version -->
                            </a>
                      </div>
     {% endfor %}         

                  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span><i class="fa fa-angle-left fa-2x"></i></span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span><i class="fa fa-angle-right fa-2x"></i></span>
                    </a>
  
 </div>
</div>

