{% extends "lfs/base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Password reset" %}{% endblock %}
{% block section %}password-reset{% endblock %}
{% block left-slot-wrapper%}{% endblock %}
{% block right-slot-wrapper%}{% endblock %}



{% block wrapper %}
<div class="container">
<div class="col-xl-2 col-md-2 col-xs-12 pal"></div>

<div class="col-xl-10 col-md-10 col-xs-12">
<ol class="breadcrumb pt2xl mtl hidden-xs">    
        <li>
            <a href="{% url lfs_shop_view %}">
                {% trans 'Home' %}</a> &gt;
        </li>
        <li>
            {% trans 'Password reset' %}
        </li>
</ol>

    <h4>
        {% trans "Password reset" %}
    </h4>
    <br/>
    <p>
        {% trans "Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}
    </p>
    <form action=""
          method="post">
        {% csrf_token %}      


                {% if form.email.errors %}
                    <div class="form-group col-xl-6 col-lg-7 col-md-8 col-sm-10 col-xs-12 mt2xl has-error">
                     
                    {% render_field form.email type="text" class="form-control" id="inputLoginEmailAddress" placeholder="Enter Email" %} 
                      {% for error in form.email.errors %}                      
                        <p class="small text-danger">
                        {{ error }}
                        </p>
                    </div>
                      {% endfor %}
                      {% else %}
                    <div class="form-group col-xl-6 col-lg-7 col-md-8 col-sm-10 col-xs-12 mt2xl">
                     
                    {% render_field form.email type="text" class="form-control" id="inputLoginEmailAddress" placeholder="Enter Email" %} 
                    </div>
                      {% endif %}
                   
                      <div class="clearfix"></div>

                      <button type="submit"
                    class="btn btn-info btn-lg">{% trans 'Reset my password' %}</button>


    </form>
</div>
</div>
{% endblock %}
