{% extends "lfs/customer/base.html" %}
{% load i18n %}
{% load lfs_tags %}

{% block title %}
    {% trans 'My Addresses' %} - {{ block.super }}
{% endblock %}

{% block section %}my-addresses{% endblock %}



{% block content %}
<div class="container">

<div class="col-xl-10 col-md-10 col-xs-12">
<ol class="breadcrumb pt2xl mtl">
    {% breadcrumbs _("Change your addresses") %}
</ol>


    {% if form.errors %}
        <div class="form-errors">
            {% trans "The operation could not be performed because one or more errors occurred. Please see below." %}
        </div>
    {% endif %}

    <form class="address-form postal-address"
    	  action="{% url lfs_my_addresses %}"
          method="post"
          invoice="{% url lfs_changed_invoice_country %}"
          shipping="{% url lfs_changed_shipping_country %}">
        {% csrf_token %}
        <table class="table table-hover">
            <thead>
                <tr class="text-center">
                <th>
                    <p>{% trans 'Invoice Address:' %}</p>
                </th>
                <th>
                    <p>{% trans 'Shipping Address:' %}</p>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    {{ invoice_address_inline|safe }}
                </td>
                <td>
                    {{ shipping_address_inline|safe }}
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit"
                    class="btn btn-info btn-sm pull-right mtxl">{% trans 'Save addresses' %}</button>
                </td>
            </tr>
        </tbody>
        </table>
        
    </form>
</div>
{% endblock %}
