{% extends "lfs/customer/base.html" %}
{% load i18n %}
{% load lfs_tags %}

{% block title %}
    {% trans 'Order' %} - {{ block.super }}
{% endblock %}

{% block section %}my-orders{% endblock %}



{% block content %}
<ol class="breadcrumb pt2xl mtl">
 {% breadcrumbs _("Order") %}
</ol>
    <h3>{% trans 'Order number:' %} {{ current_order.number }}</h3>
    <br/>
    <div class="clearfix"></div>

    <p class="site-actions">
        <a href="{% url lfs_my_orders %}"><button type="submit" class="btn btn-default btn-sm">{% trans "Back to overview" %}</button></a>
    </p>
    <div class="clearfix"></div>
    <br/>

    {% include "lfs/order/lfs_order_tmpl.html" %}
{% endblock %}
