{% extends "lfs/base.html" %}
{% load i18n %}
{% load lfs_tags %}

{% block section %}added-to-cart{% endblock %}
{% block left-slot-wrapper %}{% endblock %}
{% block right-slot-wrapper %}{% endblock %}


{% block wrapper %}
<div class="container">    
           <div class="row text-center hidden">
                <ol class="breadcrumb pt2xl mtl">
                    {% breadcrumbs _("Added to cart") %}
                </ol> 
           </div>
<div class="row text-center pt3xl">
    {% if plural %}
        <h2 class="pbxl">{% trans 'This products have been added to cart' %}</h2>
    {% else %}
        <h2 class="pbxl">{% trans 'This product has been added to cart' %}</h2>
    {% endif %}
</div>
 <div class="row pal wrap-cart"> 

    <div id="cart-items">
        {{ cart_items }}
    </div>
<table class="table table-hover">
    {% if product_accessories %}
        <h3>{% trans 'Accessories' %}</h3>
        
            <tr>
                <th></th>
                <th>
                    {% trans 'Name' %}
                </th>
                <th class="number">
                    {% trans 'Quantity' %}
                </th>
                <th class="number">
                    {% trans 'Price' %}
                </th>
                <th class="number">
                    {% trans 'Total' %}
                </th>
                <th></th>
            </tr>
            {% for product_accessory in product_accessories %}
                <tr>
                    <td>                       
                        
                            <img class="img-responsive hidden-xs" src="{{ product_accessory.accessory.get_image.image.url_60x60 }}"></img>
                           
                        
                    </td>
                    <td>
                    <a href="{{ product_accessory.accessory.get_absolute_url }}"> {{ product_accessory.accessory.get_name }}</a>
                   
                    </td>
                    <td class="number">
                        {{ product_accessory.quantity|quantity }}
                    </td>
                    <td class="number">
                        {{ product_accessory.accessory.get_price|currency:request }}
                    </td>
                    <td class="number">
                        {{ product_accessory.get_price|currency:request }}
                    </td>
                    <td class="right">
                        <a class="button add-accessory-link"
                           rel="nofollow"
                           href="{% url lfs_add_accessory_to_cart product_accessory.accessory.id product_accessory.quantity %}">
                           <button class="btn btn-info btn-sm pull-right mtxl">{% trans 'Add' %}</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <div class="buttons">
        
        <a class="button checkout-button emphasized"
           href="{% url lfs_checkout_dispatcher %}">
            <button class="btn btn-info btn-sm pull-right mtxl">{% trans 'Checkout' %}</button>
        </a>
        <a class="button cart-button"
           href="{% url lfs.cart.views.cart %}">
            <button class="btn btn-info btn-sm pull-right mtxl">{% trans 'Go to cart' %}</button>
        </a>
        <a class="button shopping-button"
           href="{{ shopping_url }}">
            <button class="btn btn-info btn-sm pull-right mtxl">{% trans 'Go on shopping' %}</button>
        </a>
    </div>
</div>
</div>

{% endblock %}
