{% extends "lfs/base.html" %}
{% load i18n lfs_tags lfs_portlets_tags %}

{% block title %}
    {{ page.get_meta_title }} - {{ block.super }}
{% endblock %}

{% block head %}
    {% if page.get_meta_keywords %}
        <meta name="keywords" content="{{ page.get_meta_keywords }}" />
    {% endif %}
    {% if page.get_meta_description %}
        <meta name="description" content="{{ page.get_meta_description }}" />
    {% endif %}
{% endblock %}

{% block section %}page{% endblock %}


    {% block breadcrumbs %}
    <div class="container">
    <ol class="breadcrumb pt2xl mtl">
    {% breadcrumbs page %}
    </ol>
    </div>
    {% endblock %}


{% block content %}
    
    <div>
        {{ page.body|safe }}
    </div>

<div class="container">
    {% block page-newarrival-slot %}
   {% lfs_portlet_slot 'page-newarrival' %}
   {% endblock %}
</div>

<div class="container">
   {% block page-topseller-slot %}
    {% lfs_portlet_slot 'page-topseller' %}
    {% endblock %}
</div>

    {% if page.file %}
        <a href="{{page.file.url}}">
            {% trans "Download" %}
        </a>
    {% endif %}
{% endblock %}
