{% extends "lfs/base.html" %}
{% load i18n %}
{% load carousel %}
{% load thumbnail %}
{% load lfs_portlets_tags %}


{% block head %}
    {% if shop.get_meta_keywords %}
        <meta name="keywords" content="{{ shop.get_meta_keywords }}" />
    {% endif %}
    {% if shop.get_meta_description %}
        <meta name="description" content="{{ shop.get_meta_description }}" />
    {% endif %}
{% endblock %}

{% block carousel %}
     {% carousel carousel_name='frontpage' %}  
    
{% endblock %}

{% block breadcrumbs %}
    
{% endblock %}

{% block topseller-slot %}
    {% lfs_portlet_slot 'topseller' %}
{% endblock %}
{% block newarrival-slot %}
 {% lfs_portlet_slot 'newarrival' %}
{% endblock %}