{% load i18n %}
{% if pagination.total_pages > 1 %}
<div class="col-xs-12 plxl prxl">
    <ul class="pagination pull-right">
    
    {% if pagination.has_prev %}
    <li class="previous-page">
        <a href="{{ pagination.url }}?{{ pagination.getparam }}={{ pagination.prev }}{{ pagination.getvars }}">&laquo;</a>
    </li>
    {% else %}
    <li class="disabled">
        <a href="">&laquo;</a>
    </li>
    {% endif %}

    {% for p in pagination.page_range %}
      {% if p == pagination.current_page %}
        <li class="active"><a href="{{ pagination.url }}?{{ pagination.getparam }}={{ p }}{{ pagination.getvars }}">{{ p }}</a></li>
      {% else %}
        <li><a href="{{ pagination.url }}?{{ pagination.getparam }}={{ p }}{{ pagination.getvars }}">{{ p }}</a></li>
      {% endif %}
    {% endfor %}

    {% if pagination.has_next %}
    <li class="next-page">
        <a href="{{ pagination.url }}?{{ pagination.getparam }}={{ pagination.next }}{{ pagination.getvars }}">&raquo;</a>
    </li>
    {% else %}
    <li class="disabled"><a href="">&raquo;</a></li>
    {% endif %}    

   </ul>
</div>
{% endif %}
