{% extends "lfs/base.html" %}
{% load i18n %}

{% block section %}{% endblock %}
{% block left-slot-wrapper %}{% endblock %}
{% block right-slot-wrapper %}{% endblock %}

{% block content %}
       <div class="container">
           <div class="col-xl-2 col-md-2 col-xs-12 pal"></div>
           <div class="col-xl-10 col-md-10 col-xs-12">
               <h2 class="pbxl">{% trans 'Review' %}</h2>
               <br/>
               <p>{% trans 'You have already rated for this product.' %}</p>  
           </div>  
       </div>
{% endblock %}
