{% extends "lfs/base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block section %}add-review {% endblock %}

{% block content %}
<div class="container">
    <div class="row ptxl">
        <div class="col-xl-6 col-sm-6 col-xs-12">
            <div class="row">
                {% if object.get_image.image %}
                <div class="col-xl-10 col-xs-10 pal">
                    <a href="{{ object.get_absolute_url }}"><img class="img-responsive" src="{{ object.get_image.image.url }}" /></a>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="col-xl-6 col-sm-6 col-xs-12 pal">
            <div class="row">
                <p>Please give us your review about</p>
                <h4 class="ptl">{{ object.get_name }}</h4>
            </div>
            <div class="row">
                <form id="ratingsForm" action="{% url reviews_add content_type_id content_id %}" method="post">
                 {% csrf_token %}
                 {% if request.user.is_anonymous %}
                 {% if form.user_name.errors %}
                 <div class="form-group col-xl-6 col-lg-7 col-md-8 col-sm-10 col-xs-12 mt2xl has-error">
                    <label for="inputSingupEmailAddress">Name</label>   
                    {% render_field form.user_name type="text" class="form-control" id="inputLoginEmailAddress" placeholder="Name" %} 
                    {% for error in form.user_name.errors %}                      
                    <p class="small text-danger">
                        {{ error }}
                    </p>
                </div>
                {% endfor %}
                {% else %}
                <div class="form-group col-xl-6 col-lg-7 col-md-8 col-sm-10 col-xs-12 mt2xl">
                 <label for="inputSingupEmailAddress">Name</label>   
                 {% render_field form.user_name type="text" class="form-control" id="inputLoginEmailAddress" placeholder="Name" %} 
             </div>
             {% endif %}

             <div class="clearfix"></div>

             {% if form.user_email.errors %}
             <div class="form-group col-xl-6 col-lg-7 col-md-8 col-sm-10 col-xs-12 mt2xl has-error">
                 <label for="inputSingupEmailAddress">Email</label>   
                 {% render_field form.user_email type="text" class="form-control" id="inputLoginEmailAddress" placeholder="Email" %} 
                 {% for error in form.user_email.errors %}                      
                 <p class="small text-danger">
                    {{ error }}
                </p>
            </div>
            {% endfor %}
            {% else %}
            <div class="form-group col-xl-6 col-lg-7 col-md-8 col-sm-10 col-xs-12 mt2xl">
             <label for="inputSingupEmailAddress">Email</label>   
             {% render_field form.user_email type="text" class="form-control" id="inputLoginEmailAddress" placeholder="Email" %} 
         </div>
         {% endif %}
         {% endif %} 



         <div class="row">           

            
            <div class="ptl">                                
                {% if form.comment.errors %}
                {% render_field form.comment style="width:100%; min-height:70px" %} 
                <p class="small text-danger">{{ form.comment.errors }}</p>
                {% else %}
                {% render_field form.comment style="width:100%; min-height:70px"%}
                {% endif %}
            </div>
            <div class="clearfix"></div>

            <div class="rating ptxl">              
                {% if form.score.errors %}
                <div class="field error">
                    <p class="small text-danger">{{ form.score.errors }}</p>
                </div>
                {% endif %}
                <fieldset class="rating">
                    {% for score in scores reversed %}
                    <input class="star" type="radio" id="star{{score.value}}" name="rating" value="{{score.value}}" /><label for="star{{score.value}}">{{score.value}} stars</label>
                    {% endfor %}
                </fieldset>
            </div>
        </div>




        <input type="hidden"
        name="score"
        id="id_score"
        value="{{ request.POST.score }}" />

        <input type="hidden"
        name="content_type_id"
        value="{{ content_type_id }}" />

        <input type="hidden"
        name="content_id"
        value="{{ content_id }}" />

        {% if show_preview %}
        <input type="submit"
        value="{% trans 'Preview' %}" />
        {% else %}
        <div class="row">
            <button type="submit" class="btn btn-info">Send your Review</button>
        </div>
        {% endif %} 
    </div> 


</form>
</div>
</div>
</div>
</div>

{% endblock %}
