{% load i18n %}
{% load lfs_tags %}
{% load lfs_theme_tags %}
{% load lfs_portlets_tags %}
{% load compress %}
{% load carousel %}
{% load thumbnail %}


<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ SHOP.get_meta_title }}{% endblock %}</title>
    
    <!-- Bootstrap -->
    
    <link href="{{ STATIC_URL }}momo/css/offset-nav.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}momo/css/main.css" rel="stylesheet">

      <!-- css (migrate from lfs base.html) -->
           <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery/lightbox/jquery.lightbox-0.5.css" />
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-ui-1.8.13.custom/css/smoothness/jquery-ui-1.8.13.custom.css" />
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery/jquery.jgrowl.css" />
            <!--link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-ui-1.8.13.custom/css/smoothness/jquery-ui-1.8.13.custom.css" /-->
            <!--link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery/jquery.jgrowl.css" /-->
            <!--link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}yui/reset-fonts.css"-->
            <!--link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}blueprint/src/grid.css"-->
            <!--link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css" /-->

             <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script type="text/javascript" src="{{ STATIC_URL }}momo/javascripts/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}momo/javascripts/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}momo/javascripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}momo/javascripts/offset-canvas.js"></script>


        <script type="text/javascript" src="{{ STATIC_URL }}jquery-ui-1.8.13.custom/js/jquery-ui-1.8.13.custom.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.form.pack.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.jgrowl_minimized.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.cookie.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}jquery/lightbox/jquery.lightbox-0.5.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/lfs.js"></script>

        

        <script type="text/javascript">
        $(function () {
             $('#myCarousel').carousel();
        })
        </script>
        <script type="text/javascript">
            $(document).ready(function(){
                var topHeight = $('.navigation').outerHeight();
                var scrollTopHeight = topHeight / 2 - 38;
                
                $(window).scroll(function(){
                    if ($(window).scrollTop() > scrollTopHeight){
                        $('.navigation').addClass('mod-header-fixed');
                        $( '.top-hero' ).css( 'padding-top', topHeight );
                    } else if ($(window).scrollTop() < scrollTopHeight) {
                        $('.navigation').removeClass('mod-header-fixed');
                        $( '.top-hero' ).css( 'padding-top', 0 );
                    }
                });
            });           

        </script>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if IE 8]><link href="{{ STATIC_URL }}momo/css/ie8-fix.css" rel="stylesheet"><![endif]-->

	
</head>
<body>
	<div class="wrap fixed-width-by-lg">
	
		<div class="container mod-header navbar navbar-fixed-top">
			<div class="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navbar-offcanvas" data-canvas="body">
						<i class="fa fa-bars fa-2x fa-fw"></i>
					</button>
					<a class="navbar-brand" href="{{ STATIC_URL }}momo/#"><img class="img-responsive" src="{{ STATIC_URL }}momo/images/global/logo_momo.png" /></a>
				</div>
				<div class="navbar-offcanvas offcanvas">
					<a class="navmenu-brand" href="{{ STATIC_URL }}momo/#"><img class="img-responsive" src="{{ STATIC_URL }}momo/images/global/logo_momo.png" /></a>
					<ul class="nav navbar-nav">
						{% block tabs %}
                          {% tabs %}
                        {% endblock %}
					</ul> <!-- // navbar-nav -->
					{% if user.is_authenticated %}
                            {% if user.first_name %}
                                <span>{{ user.first_name }} {{user.last_name}}</span>
                            {% else %}
                                <span>{{ user.username }}</span>
                            {% endif %} |

                            {% if user.is_superuser %}
                                {% if category %}
                                    <a href="{% url lfs_manage_category category.id %}">{% trans 'Manage' %}</a>
                                {% endif %}
                                {% if product %}
                                    <a href="{% url lfs_manage_product product.id %}">{% trans 'Manage' %}</a>
                                {% endif %}
                                {% if page %}
                                    <a href="{% url lfs_manage_page page.id %}">{% trans 'Manage' %}</a>
                                {% endif %}
                                {% if not category and not product and not page %}
                                    <a href="{% url lfs_manage_dashboard %}">{% trans 'Manage' %}</a>
                                {% endif %}
                                |
                            {% endif %}

                            <a href="/logout">{% trans 'Logout' %}</a> |
                            <a href="{% url lfs_my_account %}">{% trans 'My account' %}</a>
                        {% else %}
                            {% if not ANON_ONLY %}
                                <a href="{% url lfs_login %}">{% trans 'Login' %}</a> |
                            {% endif %}

                        {% endif %}
					<form class="navbar-form navbar-right" role="search" id="search-form"
                              action="{% url lfs_search %}"
                              autocomplete="off">
						<div class="input-group">
							<input type="hidden" name="livesearch" value="1" />
							<input type="text" class="form-control" placeholder="Search" id="search-input" value="{{ q }}" name="q" autocomplete="off" data-url="{% url lfs_livesearch %}">
                         <span class="input-group-btn">
                         		<button type="submit" class="btn btn-default" type="button"><i class="fa fa-search fa-fw fa-lg"></i></button>
                         </span>
						</div>
					</form>
					<div id="breadcrumbs">
            <div class="container">
                {% block breadcrumbs %}{% endblock %}
            </div>
        </div>
				</div><!--// nav-collapse -->
			</div>
		</div>
		<div class="container livesearch-wrapper">
                 <div id="livesearch-result"></div>
            </div>
        </div>

    
        <div class="container top-hero">
             <div class="col-xl-12 col-xs-12 pal">
                {% block carousel %}
                {% endblock %}
            </div>
        </div> <!-- // container / carousel section -->
        
        <div class="container">
        	<div class="col-xl-6 col-sm-6 col-xs-12 pal">
                <a class="wrap-banner" href="{{ STATIC_URL }}momo/#">
                    <div class="paxl"><div class="pa2xl"></div></div>
                    <img class="img-responsive" src="{{ STATIC_URL }}momo/images/ad/ad_1.jpg" />
                </a>
            </div>
            <div class="col-xl-6 col-sm-6 col-xs-12 pal">
               {% block onsale-slot %}
			  {% lfs_portlet_slot 'onsale' %}
			   {% endblock %}
            </div>
        </div> <!-- // container / about section -->
		
		 <div class="clearfix mt4xl hidden-sm hidden-xs"></div>
		 <div class="clearfix mt2xl visible-sm"></div>
        <div class="clearfix mtxl visible-xs"></div>
		
        <div class="container">
        	
		  {% block left-slot %}
            {% lfs_portlet_slot 'Left' %}
          {% endblock %}

			
            
        </div> <!-- // container / 4 columed product list-->
		
		<div class="clearfix mt4xl hidden-sm hidden-xs"></div>
		<div class="clearfix mt2xl visible-sm"></div>
        <div class="clearfix mtxl visible-xs"></div>
		

           {% block new-arrival %}
            {% lfs_portlet_slot 'newarrival' %}
          {% endblock %}

        
        </div> <!-- // container / 4 columed product list-->
        
        <div class="clearfix pt14xl"></div>
	</div> <!-- // wrap -->
       
    </body>
</html>